.top_header
  .header__box
    .icons
      .icons__3
        = link_to "#" do
          %i.fas.fa-circle.fa-2x
      .icons__2
        = link_to "#" do
          %i.fas.fa-gem.fa-2x
      .icons__1
        = link_to "#" do
          %i.fas.fa-gem.fa-2x
    .header__app-name
      Mystellar
    .user__nav
      投稿する
     
  %ul.categorys
    %li.hedar__category
      美容
    %li.hedar__category
      ファッション
    %li.hedar__category
      料理
    %li.hedar__category
      フィットネス
    %li.hedar__category
      趣味
    %li.hedar__category
      子育て
    %li.hedar__category
      豆知識