* {
  box-sizing: border-box;
}
html,body{
  height: 100%;
  margin: 0;
  padding: 0;
}
.wrapper {
  width: 100vw;
  height:100%
}
.top_header {
  height: 150px;
  width: 100%;
  background-color: #32b4e7a6;
  
  .header__box{
    justify-content: space-around;
    height: 100px;
    display: flex;
    .icons{
      display: flex;
      padding: 30px 0 20px 0;
      .fas{
        color: #ec6398f6;
        padding: 10px;
      }
    }
    .header__app-name{
      font-size: 80px;
    }
    .user__operation{
      display: flex;
    }
      
  }
  .categorys{
    background-color: #0e34afa6;
    justify-content: space-around;
    font-size: 25px;
    display: flex;
    padding: 10px;
  }
}
.user__nav{
  font-size: 20px;
  margin-top: 30px;
}
span{ 
  margin-top: 20px ;
  font-size: 30px;
  padding: 5px 20px 5px 30px,
  
}
a, .post {
  text-decoration: none;
  color: #ffffff;
}
  
.main_top {
  height: 100%;
  width: 100%;
  padding: 50px 100px;
  justify-content: space-around;
  background-color: #e3f8f8f5;
  
  .category{
    height: 100%;
    width: 100%;
    margin-bottom: 10px;
    background-color: #fceff6;
    justify-content: space-around;
    &__name{
      font-size: 35px;
      padding: 10px;
    }
    .category__tweet{
      height: 270px;
      justify-content: space-around;
      display: flex;
      .category__tweet__item {
        .category__tweet__image{
          background-color: #ffffff;
          display: inline-block;
          height: 230px;
        }
        .category__tweet__title{
          text-align: center;
          font-size: 15px;
        }
      } 
    }
  }
}





