* {
  box-sizing: border-box;
}
html,body{
  height: 100%;
  margin: 0;
  padding: 0;
}
.wrapper {
  width: 100vw;
  height:100%
}
.top_header {
  width: 100%;
  background-image: url(https://publicdomainq.net/images/201704/12s/publicdomainq-0007960qzr.jpg);
  color: #f2f53f;
  .header__box{
    justify-content: space-between;
    height: 100px;
    display: flex;
    .icons{
      display: flex;
      padding: 30px 0 20px 20px;
      .fas{
        color: #ec63b3f6;
        padding: 10px;

      }
    }
    .header__app-name{
      font-size: 80px;
      a{
        text-decoration: none;
        color: #6ebfee;
      }
    }
    .user__operation{
      display: flex;
    }

  }
  .categorys{
    color: #ffffff;
    background-color: #0e34afa6;
    justify-content: space-around;
    font-size: 25px;
    display: flex;
    padding: 10px;
    a{
      color: #ffffff;
      text-decoration: none;
    }
  }
}
.user__nav{
  font-size: 20px;
  margin-right: 20px;
  a, .post {
    display: block;
    text-decoration: none;
    color: #ffffff;
  }
}
span{ 
  margin-top: 20px ;
  font-size: 30px;
  padding: 5px 20px 5px 20px,
  
}

  
.main_top {
  height: 100%;
  width: 100%;
  padding: 20px 80px 0 80px;
  justify-content: space-around;
  background-color: #e3f8f8f5;
  overflow: scroll;
  p{
    border-top: solid;
    border-bottom:solid;
    border-color: #7bf3dff6;
    border-width:5px;
    text-align: center;
    font-size: 30px;
    padding: 10px;
    font-family: 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  .category{
    height: 100%;
    width: 100%;
    margin-bottom: 20px;
    background-color: #f9effa;
    justify-content: space-around;
    overflow: scroll;
    &__name{
      font-size: 35px;
      padding: 10px;
    }
    .category__tweet{
      height: 270px;
      justify-content: space-around;
      flex-wrap: wrap;
      display: flex;
      a{
        text-decoration: none;
        color: black;
      }
      .category__tweet__item {
        .category__tweet__image{
          background-color: #ffffff;
          display: inline-block;
          height: 230px;
        }
        .category__tweet__title{
          text-align: center;
          font-size: 15px;
        }
      } 
    }
  }
}
.tweet__screen{
  text-align: center;
  font-size: 40px;
  padding-top: 10px;
}
.tweet__content{
  text-align: center;
  img{
    margin: 20px;
    height: 500px;
  }
  .content_title{
    font-size: 30px;
  }
  .content_content{
    font-size: 20px;
  }
  
}
.tweet__send{
  justify-content: center;
  display: flex;
  .edit, .delete, .btn{
    margin: 0 10px;
    padding:3px 10px ;
    background-color: salmon;
    border-radius: 40px;
    color: #fff;
    font-size: 28px;
    text-decoration: none;
  }
}
input{
  display: block;
  text-align: left;
}

form {
  margin-top: 5px;
  input,textarea {
    width: 100%;
    border: 1px solid gray;
    border-radius: 5px;
    margin: 8px 0;
  }
  input[type="submit"] {
    background-color: salmon;
    border-radius: 20px;
    color: #fff;
    border: 0;
    font-size: 18px;
    text-align: center;
  }
}
.comments{
  p{
    border-color: #ed93f5f6;
    border-width:3px;
    text-align: center;
    font-size: 20px;
    padding: 5px;
    font-family: 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  a{
    text-decoration: none;
    color: #ec6398f6;
    margin-right: 10px;
  }
}